body {
  padding-top: 80px;
  padding-bottom: 25px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

[v-cloak] {
  display: none;
}

::-webkit-input-placeholder {
  color: #ddd !important;
}

.navbar {
  padding-top: 9px !important;
  padding-bottom: 7px !important;
}

textarea {
  min-height: 2.4em;
}

.getbtn {
  padding: 8px 22px;
  margin-left: 1em;
  margin-top: 23px;
  margin-bottom: 8px;
}

.pre {
  letter-spacing: 0.12em;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.05em;
  line-height: 1.5em;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}
footer a {
  margin-right: 9px;
}
footer {
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

p.tips {
  line-height: 1.8em;
}

.maincontent {
  min-height: 78vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#enurl:hover {
  transform: scale(1.01);
}

#enurl {
  transition: all 0.3s ease-in;
  margin: 3px 0;
  display: inline-block;
  color: #02b875;
  border: 1px solid;
  border-radius: 0.859em;
  padding: 8px 15px;
  margin-top: 9px;
  border-radius: 0.5;
}

#enurlInput {
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0;
}
